html{
    scroll-behavior: smooth;
}
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
}
#menu{
    display: none;
    cursor: pointer;
}

.nav_navbar {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    padding: 10px;
    gap: 100px;

}

#navbar1 {
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 20px;
}

.option a {
    gap: 40px;
    margin-right: 20px;
    margin-right: 20px;
    text-decoration-line: none;
    align-items: center;
    color: black;
}

.navbar a:hover {
    text-decoration: underline;
}
.slide{
    position: relative;
}
.slide h1 {
    top: 70px;
    position: absolute;
    color: #fffdfd;
    left: 23%;
    font-size: 60px;
}

.slide h3 {
    bottom: 65%;
    position: absolute;
    color: white;
    left: 43%;
}

.slide button {
    bottom: 55%;
    position: absolute;
    left: 47%;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;

}

.slide {
    width: 100%;
    /* height: 100vh; */
    position: relative;

}

.slide img {
    width: 100%;
    border-radius: 5px;
    position: relative;

}

#leftarrow {
    bottom: 60%;
    position: absolute;
    cursor: pointer;
    left: 4%;
}

#rightarrow {
    bottom: 60%;
    position: absolute;
    cursor: pointer;
    right: 4%;
}

.brand {
    margin: 20px;
    padding: 10px;
}

.logo {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;


}

.main1 {
    display: flex;
    flex-direction: column;
}

.review {
    display: flex;
    gap: 30px;
    margin: 30px;
    background-color: white;
    padding: 20px;
}

.new {
    margin: 30px;
}

.news {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.news::-webkit-scrollbar{
    display: none;
}

.new1 {
    position: relative;
    width: 250px;
    display: flex;
    margin: 30px;
}

.new1 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    opacity: 0.6;
}

.new1 button {
    position: absolute;
    bottom: 70px;
    left: 60px;
    padding: 20px;
    border: none;
    background-color: white;
    border-radius: 10px;
}

.most {
    margin: 30px;

}

.most2 {
    margin: 30px;
    display: flex;
    scroll-behavior: smooth;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 10px;
}

.most1 {
    position: relative;
}

.most2::-webkit-scrollbar {
    display: none;
}

.imgg {
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
    height: 100%;
    flex-shrink: 0;

}

.most1 h4 {
    background-color: red;
    display: inline;
    color: white;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    left: 0px;
    margin-top: 20px;
}

.heart {
    position: absolute;
    left: 200px;
    margin-top: 220px;
    cursor: pointer;
}
.heart_liked{
    color: red;
    transform: scale(1.2);
}

.offer {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    margin: 30px;
    color: white;
    background-color: #1D232C;

}

.offer1 {
    margin: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;

}

.offer1 {
    justify-content: center;
    align-items: center;
}

.offer1 button {
    border: none;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}
.add{
    text-align: center;
    margin: 25px;
    align-items: center;
    justify-content: space-between;
}
.add1 input{
    width: 70%;
    padding: 10px;
    outline: none;
    border: solid  #1D232C 3px;
}
.add button{
    padding: 20px;
    border: none;
    background-color: #1D232C;
    border-radius: 10px;
    color: white;
}
.add p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer{
    background-color: #1D232C;
    color: white;
    padding: 10px;
    gap: 20px;
    
}
.footer img{
    gap: 25px;
    padding: 25px;
    margin: 30px;
}
.footer h1{
    font-size: 50px;
    margin-bottom: 20px;
    margin: 30px;
}
.f2{
    font-size: 30px;
    margin: 30px;
}


/* Contant us form */

.contact{
    background-color:#1D232C;
    color: white;
    padding: 25px;
    margin: 20px;
    margin-right: 50px;
    margin-left: 50px;
}
.contact h1{
    margin-bottom: 20px;
}
.contact1 input{
    width: 60%;
    padding: 25px;
    margin: 20px;
    outline: none;
}
.contact1 button{
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: blue;
    color: white;

}




/* Collection */
.checkbox{
    display: flex;
    padding: 0 20px;
}
.check{
    padding: 20px;
    border-right: 2px black solid;
    margin: 20px;
}
.check h1{
    margin-bottom: 20px;
}
.search{
    width: 95%;
    position: relative;
    margin-bottom: 20px;
}
.search-input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;

}
.search i{
    position: absolute;
    top: 30%;
    right:0;

}
.contanier{
    flex: 1;
    padding: 20px 40px;

}
.photo1 h3{
    font-size: 30px;
}
.photo1 img{
    width: 100%;
    border-radius: 5px;
}

.product{
display: grid;
      grid-template-columns:1fr 1fr 1fr;
      gap: 30px;

}
.photo1 img{
    display: flex;
}
.photo1 p{
    font-size: 20px;
}
.option1{
    background-color:#1D232C;
    color: #fffdfd;
    height: 100vh;
    width: 40%;
    position: fixed;
    top: 0;
    left: -50%;
    z-index: 2;
    transition: 1s;
  
}
.option1 a{
    display: flex;
      color: white;
    gap: 25px;
    padding: 20px;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
    text-decoration-line: none;
}
.close{
    position: absolute;
    right: 0;
    padding: 20px;
    cursor: pointer;

}
.slides.active {
  display: block;
}

.option1 a:hover{
    text-decoration: underline;
}
.slidess{
    display: none;
}
 @media screen and (max-width:600px) { 
    .body{ 
        margin: 0;
        padding: 0;
    }
    .option{
        display: none;
    }
    #menu{
       display: block;
    }
    .slide img{
        width: 100%;
    }
    .slides{
        width: 100%;
    }
   
    .slide h1{
        font-size:20px;
        position: absolute;
        top: 20px;
        left: 80px;
        font-size: medium;

    }
    .slide h3{
        position: absolute;
        font-size: small;
        top: 50px;
        left: 130px;

    }
    .slide button{
        font-size: small;
        position: absolute;
        bottom: 39px;
        left: 150px;


    }
    #rightarrow,#leftarrow{
        position: absolute;
        bottom: 60px;
    }
    .review{
            width: 60%;
    }
    .logo{
         display: grid; 
        grid-template-columns:1fr 1fr 1fr 1fr ;
        margin: 0;
         gap: 25px;
        text-align: center; 
        width: 1px;
        height: 60px;
        font-size: 20px;
        padding: 0;
        margin-bottom: 150px;

    }
    .logo img{
        margin: 0;
        padding: 0;
        width: 10px;
    } 
    .check{
        margin: 0;
        padding: 0;
        margin-right: 15px;
    }
    .product{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .search{
        width: 85%;
    }
    .review{
        margin: 0;

    }
    .review p{
        font-size: small;
    }
    .offer{
        width: 95%;
        margin: 10px;
        position: relative;
        padding: 0;
    }
    .offer img {
       width: 250px;
      position:absolute;
       left: 0;
       margin: 0px;

       
    }
    .offer1{
        font-size: 10px;
       width: 300px;
        margin-left: 250px;
    }   
    .offer1 h4{
        margin-left: 20px;
    }
    .main h1{
        font-size: small;
        position: relative;
        right: 0;
    }
    .main p{
        font-size: small;
        position: absolute;
        width: 38%;
        right: 0;
    }
    .product h3{
        font-weight:normal;

    }
    .review{
        width: 50%;
        flex-wrap: wrap;
    }
}


